<div class="cont1">
    <div class="map">
        <!-- dkjsabkcass
            <h1>{{ title }}</h1>

        <agm-map [latitude]="51.678418" [longitude]="51.678418">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map> -->
    </div>
    <div class="opciones">
        <select class="form-select drop1" aria-label="Default select example">
            <option selected>Country</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <br>
        <select class="form-select drop1" aria-label="Default select example">
            <option selected>Date</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <br>
        <select class="form-select drop1" aria-label="Default select example">
            <option selected>Event Type</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

    </div>
    <div class="b-example-divider"></div>
</div>