.map {
    background-color: brown;
    width: 80%;
}

agm-map {
    height: 300px;
}
.fc1{
    margin-bottom: 1%;
}
@media screen and (max-width: 800px) {
    .cont1, .cont2 {
      width: 100%;
      display: block;
    }
    .map{
        width: 100%;
        height: 400px;
    }
  }