<div class="cont1">
    <div class="map" id="map">
        
    </div>
    <div class="cont2">
        <div class="opciones">
            <!-- <div class="drop1">
                <label for="country" class="form-label">Country</label>
                <select class="form-select" aria-label="Default select example" id="country">
                    <option selected>Country</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div> -->
            <div class="drop1">
                <label for="fechaInicio" class="form-label">Inicio</label>
                <input class="form-control" type="date" name="fechaInicio" id="fechaInicio" [(ngModel)]="fechaInicio">
            </div>
            <div class="drop1">
                <label for="fechaFin" class="form-label">Fin</label>
                <input class="form-control" type="date" name="fechaFin" id="fechaFin" [(ngModel)]="fechaFin">
            </div>
            <div class="drop1">
                <label for="eventType" class="form-label">Categoría</label>
                <select class="form-select" aria-label="Default select example" id="eventType" [(ngModel)]="categoria">
                    <!-- <option [selected] value="0">Categoría</option> -->
                    <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.title | titlecase }}</option>
                </select>
            </div>
            <button class="btn btn-secondary mt-2" (click)="obtenerEventos()">Buscar Eventos</button>
        </div>
        <!-- <div class="weather">
            <div *ngIf="errorTemp; else elseBlock">
                <p>Error, no hay temperatura disponible para las coordenadas dadas</p>
            </div>
            <ng-template #elseBlock>
                <p>Lugar: {{name1}}</p>
                <p>Temperatura: {{temp1}}</p>
                <p>Sensacion Termica: {{st1}}</p>
                <p>Humedad: {{hum1}}%</p>
                <p>{{city}}</p>
                <p>Fecha: {{fechae}}</p>
            </ng-template>
            
        </div> -->
    </div>
</div>