<div class="contab">
    <div class="about-section">
        <h1>Sobre Nosotros</h1>
        <h4>
          <p>&reg;NEF consiste en un reasteador de eventos naturales que nos ayuda a conocer que tipos de eventos estan pasando, donde ocurren estos eventos, asi como informarnoa acerca de la temperatura en estos puntos</p>
        </h4>
        <p>En este sitio podras conocer a detalle todo lo que ocurre en nuestro planeta relacionado con fenomenos naturales</p>
      </div>
      <br>
      <div class="apis">
        <img src="../../assets/nasa.png" alt="" class="nasa1">
        <br>
        <h5>EONET es un repositorio de metadatos sobre eventos naturales, se puede acceder a EONET a través de servicios web.</h5>
        <br>
        <img src="../../assets/maps.png" alt="" class="maps1">
        <br>
        <h5>Crea experiencias del mundo real y en tiempo real con las funciones más recientes de Maps, Rutas y Lugares de Google Maps Platform.</h5>
        <br>
        <img src="../../assets/weatherstack.png" alt="" class="ws1">
        <br><br>
        <h5>Recupera información meteorológica instantánea y precisa para cualquier lugar del mundo</h5>
      </div>
      <br>
      <h2 style="text-align:center" id="title3">Equipo</h2>
      <div class="row cartas">
        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Sergio Ruvalcaba Lozano</h2>
              <p class="title">CEO & Founder</p>
              <p>UAA</p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <div class="container">
              <h2>Cristopher Esparza Cuevas</h2>
              <p class="title">WEB Developer</p>
              <p>UAA</p>
            </div>
          </div>
        </div>
      </div>
</div>
