<div class="row cartas">
    <div class="column">
      <div class="card">
        <img src="../../assets/maps.png" alt="Event" style="width:100%" class="cropped">
        <div class="container">
          <h2>catttttttt</h2>
          <p class="title">ssssssssssssssssssss</p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/nasa.png" alt="Fernando" style="width:100%" class="cropped">
        <div class="container">
          <h2>cat2</h2>
          <p class="title">cdsdcscsdcasdc</p>
        </div>
      </div>
    </div>
    
  </div>